templates/logicapp_workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "containerUrl": {
      "type": "string",
      "defaultValue": "https://<your-container-host>"
    },
    "repoOwner": {
      "type": "string",
      "defaultValue": "your-github-username"
    },
    "repoName": {
      "type": "string",
      "defaultValue": "your-repo"
    },
    "filePath": {
      "type": "string",
      "defaultValue": "data/trending.json"
    },
    "githubToken": {
      "type": "SecureString",
      "defaultValue": ""
    }
  },
  "triggers": {
    "Recurrence": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Week",
        "interval": 1,
        "schedule": {
          "weekDays": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "hours": [15],
          "minutes": [55]
        },
        "timeZone": "Eastern Standard Time"
      }
    }
  },
  "actions": {
    "Get_trending": {
      "type": "Http",
      "inputs": {
        "method": "GET",
        "uri": "@concat(parameters('containerUrl'), '/trending?region=US&limit=20')"
      },
      "runAfter": {}
    },
    "Get_existing_file": {
      "type": "Http",
      "inputs": {
        "method": "GET",
        "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
        "headers": {
          "Authorization": "@concat('Bearer ', parameters('githubToken'))",
          "Accept": "application/vnd.github+json",
          "X-GitHub-Api-Version": "2022-11-28",
          "User-Agent": "azure-logic-app"
        }
      },
      "runAfter": {
        "Get_trending": ["Succeeded"]
      }
    },
    "Create_file_in_GitHub": {
      "type": "Http",
      "inputs": {
        "method": "PUT",
        "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
        "headers": {
          "Authorization": "@concat('Bearer ', parameters('githubToken'))",
          "Accept": "application/vnd.github+json",
          "X-GitHub-Api-Version": "2022-11-28",
          "User-Agent": "azure-logic-app"
        },
        "body": {
          "message": "Automated trending update",
          "content": "@base64(string(body('Get_trending')))"
        }
      },
      "runAfter": {
        "Get_existing_file": ["Failed"]
      }
    },
    "Update_file_in_GitHub": {
      "type": "Http",
      "inputs": {
        "method": "PUT",
        "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
        "headers": {
          "Authorization": "@concat('Bearer ', parameters('githubToken'))",
          "Accept": "application/vnd.github+json",
          "X-GitHub-Api-Version": "2022-11-28",
          "User-Agent": "azure-logic-app"
        },
        "body": {
          "message": "Automated trending update",
          "content": "@base64(string(body('Get_trending')))",
          "sha": "@body('Get_existing_file')?['sha']"
        }
      },
      "runAfter": {
        "Get_existing_file": ["Succeeded"]
      }
    }
  },
  "outputs": {}
}
