templates/logicapp_arm_template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": { "type": "string" },
    "location": { "type": "string", "defaultValue": "eastus" },
    "containerUrl": { "type": "string" },
    "repoOwner": { "type": "string" },
    "repoName": { "type": "string" },
    "filePath": { "type": "string", "defaultValue": "data/trending.json" },
    "githubToken": { "type": "securestring", "defaultValue": "" }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "containerUrl": { "type": "String" },
            "repoOwner": { "type": "String" },
            "repoName": { "type": "String" },
            "filePath": { "type": "String" },
            "githubToken": { "type": "SecureString" }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                  "hours": [15],
                  "minutes": [55]
                },
                "timeZone": "Eastern Standard Time"
              }
            }
          },
          "actions": {
            "Get_trending": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat(parameters('containerUrl'), '/trending?region=US&limit=20')"
              },
              "runAfter": {}
            },
            "Get_existing_file": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
                "headers": {
                  "Authorization": "@concat('Bearer ', parameters('githubToken'))",
                  "Accept": "application/vnd.github+json",
                  "X-GitHub-Api-Version": "2022-11-28",
                  "User-Agent": "azure-logic-app"
                }
              },
              "runAfter": {
                "Get_trending": ["Succeeded"]
              }
            },
            "Create_file_in_GitHub": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
                "headers": {
                  "Authorization": "@concat('Bearer ', parameters('githubToken'))",
                  "Accept": "application/vnd.github+json",
                  "X-GitHub-Api-Version": "2022-11-28",
                  "User-Agent": "azure-logic-app"
                },
                "body": {
                  "message": "Automated trending update",
                  "content": "@base64(string(body('Get_trending')))"
                }
              },
              "runAfter": {
                "Get_existing_file": ["Failed"]
              }
            },
            "Update_file_in_GitHub": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "@concat('https://api.github.com/repos/', parameters('repoOwner'), '/', parameters('repoName'), '/contents/', parameters('filePath'))",
                "headers": {
                  "Authorization": "@concat('Bearer ', parameters('githubToken'))",
                  "Accept": "application/vnd.github+json",
                  "X-GitHub-Api-Version": "2022-11-28",
                  "User-Agent": "azure-logic-app"
                },
                "body": {
                  "message": "Automated trending update",
                  "content": "@base64(string(body('Get_trending')))",
                  "sha": "@body('Get_existing_file')?['sha']"
                }
              },
              "runAfter": {
                "Get_existing_file": ["Succeeded"]
              }
            }
          },
          "outputs": {},
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "containerUrl": { "value": "[parameters('containerUrl')]" },
          "repoOwner": { "value": "[parameters('repoOwner')]" },
          "repoName": { "value": "[parameters('repoName')]" },
          "filePath": { "value": "[parameters('filePath')]" },
          "githubToken": { "value": "[parameters('githubToken')]" }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
